<mat-toolbar class="simulator-toolbar" color="primary">

    <mat-toolbar-row>
        <span>SimGravity</span>
        <span></span>
    </mat-toolbar-row>

</mat-toolbar>
<div class="simulator-content">

    <div class="simulator-navigation">
        <button type="button" mat-icon-button (click)="toggleStart()">
            <mat-icon>{{ running ? 'pause_circle_filled' : 'play_circle_filled' }}</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="resetAndApplyParams()">
            <mat-icon>refresh</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="view.zoom(0.1)">
            <mat-icon>zoom_in</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="view.zoom(-0.1)">
            <mat-icon>zoom_out</mat-icon>
        </button>
    </div>

    <div class="simulator-sidebar">

        <div class="particles-form">

            

        </div>


        <div class="params-form">


            <mat-checkbox [(ngModel)]="view.draw_velocity">Draw velocity</mat-checkbox>
            <mat-checkbox [(ngModel)]="view.draw_acceleration">Draw acceleration</mat-checkbox>
            <mat-checkbox [(ngModel)]="view.draw_label">Draw label</mat-checkbox>

        </div>

        <form [formGroup]="paramsFormGroup" class="params-form">

            <mat-form-field appearance="standard">
                <mat-label>Gamma</mat-label>
                <input type="number" formControlName="gamma" matInput>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Time Step</mat-label>
                <input type="number" formControlName="time_step" matInput>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Softening</mat-label>
                <input type="number" formControlName="softening" matInput>
            </mat-form-field>

            <div class="form-actions">
                <button mat-raised-button type="button" (click)="applyParams()" color="accent">Apply</button>
            </div>

        </form>

    </div>


    <div #container 
        class="canvas-container" 
        (wheel)="onWheel($event)" 
        (mousedown)="onMouseDown($event)">
    </div>
</div>